.wrapper {
  background-color: antiquewhite;
  padding: 5px;
}
.wrapper::after {
  content: "";
  clear: both;
  display: block;
}

.services {
  float: left;
  background-color: rgb(156, 156, 158);
  padding: 20px;
  border: 1px solid;
  margin: 3px;
}
