.wrapper {
  background-color: antiquewhite;
  padding: 5px;
}
/* .wrapper::after {
        content: "";
        clear: both;
        display: block;
      } */
.services {
  margin-top: 50px;
}

.service {
  float: left;
  background-color: rgb(156, 156, 158);
  padding: 20px;
  border: 1px solid;
  margin: 3px;
  display: block;
  position: relative;
}
.service:nth-child(1) {
  top: 30px;
}
.services::after {
  content: "";
  display: block;
  clear: both;
}
.content {
  clear: both;
  margin-top: 10px;
}
.banner {
  position: relative;
  overflow: hidden;
  padding: 0px;
}
.banner h3 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 50px;
  margin: 0px;
  font-weight: bold;
  color: rgb(183, 183, 224);
}
.nav {
  background-color: rgb(27, 27, 27);
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  margin-bottom: 70px;
  z-index: 1;
}
/* .nav ul {
    margin-left: 0px;
  } */
.nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.nav li {
  list-style-type: none;
  padding: 4px;
  float: right;
  color: white;
  margin: 0px 10px;
}
